* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 230px;
    background-color: #000;
    padding: 20px;
}

.logo {
    width: 130px;
    margin-bottom: 20px;
}

.nav-item {
    display: flex;
    align-items: center;
    color: #b3b3b3;
    padding: 10px 0;
    cursor: pointer;
}

.nav-item:hover {
    color: #fff;
}

.nav-item img {
    width: 24px;
    margin-right: 15px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* .user-profile {
    display: flex;
    align-items: center;
} */

.user-profile img {
    width: 90px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

h2 {
    margin-bottom: 20px;
}

.playlist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}

.playlist-item {
    background-color: #181818;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.playlist-item:hover {
    background-color: #282828;
}

.playlist-item img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    margin-bottom: 10px;
}

.show-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.show-item {
    background-color: #181818;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.show-item:hover {
    background-color: #282828;
}

.show-item img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
}

.player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    background-color: #181818;
    border-top: 1px solid #282828;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.player-controls {
    display: flex;
    align-items: center;
}

.player-controls img {
    width: 32px;
    margin: 0 10px;
    cursor: pointer;
}

.progress-bar {
    flex-grow: 1;
    height: 4px;
    background-color: #535353;
    margin: 0 20px;
    cursor: pointer;
}

.progress {
    width: 30%;
    height: 100%;
    background-color: #b3b3b3;
}